[submodule "find_object_2d"]
	path = find_object_2d
	url = ssh://gitolite@git.mafiasi.de/masterproject-intelligent-robotics/2016-masterproject-intelligent-robotics/find_object_2d.git
	branch = origin/master
[submodule "kinect_calibration"]
	path = kinect_calibration
	url = ssh://gitolite@git.mafiasi.de/masterproject-intelligent-robotics/2016-masterproject-intelligent-robotics/kinect_calibration.git
	branch = origin/master
[submodule "pr2016_msgs"]
	path = pr2016_msgs
	url = ssh://gitolite@git.mafiasi.de/masterproject-intelligent-robotics/2016-masterproject-intelligent-robotics/pr2016_msgs.git
	branch = origin/master
[submodule "project16_coordinator"]
	path = project16_coordinator
	url = ssh://gitolite@git.mafiasi.de/masterproject-intelligent-robotics/2016-masterproject-intelligent-robotics/project16_coordinator.git
	branch = origin/master
[submodule "project16_gui"]
	path = project16_gui
	url = ssh://gitolite@git.mafiasi.de/masterproject-intelligent-robotics/2016-masterproject-intelligent-robotics/project16_gui.git
	branch = origin/master
[submodule "project16_image_processing"]
	path = project16_image_processing
	url = ssh://gitolite@git.mafiasi.de/masterproject-intelligent-robotics/2016-masterproject-intelligent-robotics/project16_image_processing.git
	branch = origin/master
[submodule "project16_manipulation"]
	path = project16_manipulation
	url = ssh://gitolite@git.mafiasi.de/masterproject-intelligent-robotics/2016-masterproject-intelligent-robotics/project16_manipulation.git
	branch = origin/master
