<?xml version="1.0"?>
<launch>

    <!-- Startup UR5 W/O Kinect but with demo publisher -->
    <include file="$(find tams_ur5_setup_moveit_config)/launch/demo.launch">
        <arg name="ur5_joint_ranges_config" value="$(find tams_ur5_description)/config/joint_ranges/elbow_up.yaml"/>
    </include>
    <param name="move_group/constraint_approximations_path" value="$(find tams_ur5_bartender_manipulation)/cadb"/>

    <include file="$(find tams_ur5_bartender_image_processing)/launch/publishDemoBottles.launch"/>

    <!-- Startup manipulation -->
    <include file="$(find tams_ur5_bartender_manipulation)/launch/manipulation.launch"/>
    
    <!-- Startup coordination -->
    <include file="$(find tams_ur5_bartender_coordination)/launch/coordination.launch"/>

    <!-- Startup GUI -->
    <include file="$(find tams_ur5_bartender_gui)/launch/rosbridge.launch"/>
</launch>
