<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Which image resolution: sd, qhd, hd -->
    <arg name="resolution" default="qhd" />

    <!-- find_object_2d -->
        <node name="find_object_3d" pkg="find_object_2d" type="find_object_2d" output="log">
        <!-- set gui to false for production -->
        <param name="gui" value="false" type="bool"/>
        <param name="settings_path" value="$(find tams_ur5_bartender_image_processing)/config/find_object_2d.ini" type="str"/>
        <param name="subscribe_depth" value="true" type="bool"/>
        <param name="objects_path" value="$(find tams_ur5_bartender_image_processing)/objects_kinect2" type="str"/>
        <param name="object_prefix" value="object" type="str"/>

        <!-- nodes can have their own remap args -->
                <remap from="rgb/image_rect_color" to="/kinect2/$(arg resolution)/image_color_rect"/>
                <remap from="depth_registered/image_raw" to="/kinect2/$(arg resolution)/image_depth_rect"/>
                <remap from="depth_registered/camera_info" to="/kinect2/$(arg resolution)/camera_info"/>
        </node>
    
    <!--Starting tams_pr16_bar_objects-->
    <node pkg="tams_ur5_bartender_image_processing" type="bottle_recognition" name="bottle_recognition" output="log">
        <rosparam command="load" file="$(find tams_ur5_bartender_image_processing)/config/bottles.yaml" />
    </node>

    <node pkg="tams_ur5_bartender_image_processing" type="bottle_publisher" name="bottle_publisher" output="log"/>

</launch>
