<?xml version="1.0"?>
<launch>
    <include file="$(find tams_ur5_setup_bringup)/launch/tams_ur5_setup.launch" />
    <include file="$(find project15_objectrecognition)/launch/object_detector.launch" />

    <node pkg="tams_ur5_pick_place" type="plan_grasps_service" name="plan_grasps_service" />
</launch>

