<?xml version="1.0"?>
<launch>

    <!-- Startup UR5 W/O Kinect but with demo publisher -->
    <include file="$(find tams_ur5_setup_moveit_config)/launch/demo.launch"/>
    <param name="move_group/constraint_approximations_path" value="$(find project16_manipulation)/cadb_20000_bagger"/>

    <include file="$(find project16_image_processing)/launch/publishDemoBottles.launch"/>

    <!-- Startup manipulation -->
    <include file="$(find project16_manipulation)/launch/manipulation.launch"/>
    
    <!-- Startup coordinator -->
    <include file="$(find project16_coordinator)/launch/coordinator.launch"/>

    <!-- Startup GUI -->
    <include file="$(find project16_gui)/launch/rosbridge.launch"/>
</launch>
